[submodule "gtk2-recipes/_source/pygtkhelpers"]
	path = gtk2-recipes/_source/pygtkhelpers
	url = git@github.com:sci-bots/pygtkhelpers.git
[submodule "gtk2-recipes/_source/cairo-helpers"]
	path = gtk2-recipes/_source/cairo-helpers
	url = git@github.com:sci-bots/cairo-helpers.git
[submodule "gtk2-recipes/_source/svg-model"]
	path = gtk2-recipes/_source/svg-model
	url = git@github.com:sci-bots/svg-model.git
